
@for(character of personajes; track character.id){
  <div class="contenedor_card">
<mat-card class="example-card" appearance="outlined" (click)="abrirDialog(character)">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{character.name}}</mat-card-title>
        <mat-card-subtitle>{{character.species}}</mat-card-subtitle>
        <img mat-card-xl-image [src]='character.image' >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        Status:{{character.status}}
        <p></p>
        Origen:{{character.origin.name}}
    </mat-card-content>
    
</mat-card>
</div>
}

<button mat-raised-button [disabled]="paginaActual === 1" (click)="paginaInicio()">Inicio</button>
<button mat-raised-button [disabled]="paginaActual === 1" (click)="paginaAtras()">Atras</button>
<button mat-raised-button [disabled]="paginaActual === paginaTotal" (click)="paginaSiguiente()">Siguiente</button>
<button mat-raised-button  [disabled]="paginaActual === paginaTotal" (click)="paginaFinal()">Final</button>

